.header {
    background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url("../img/banner.png");
    background-position: center;
    background-size: cover;
    height: 500px;
}

#Fork {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    align-items: center;
}

#TituloFork {
    padding: 0px 25px 0px 25px;
}